<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Patients Records</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container my-4">
  <h2>Records of Patient 1</h2>
  <div class="mb-3">
    <a href="#" class="btn btn-primary">Add Record</a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Doctor's Name</th>
      <th>Diagnosis</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>April 12, 2023</td>
      <td>Dr. John Doe</td>
      <td>Flu</td>
      <td>
        <a href="#" class="btn btn-secondary btn-sm">Edit</a>
      </td>
    </tr>
    <tr>
      <td>April 6, 2023</td>
      <td>Dr. Jane Smith</td>
      <td>Broken Arm</td>
      <td>
        <a href="#" class="btn btn-secondary btn-sm">Edit</a>
      </td>
    </tr>
    <tr>
      <td>March 28, 2023</td>
      <td>Dr. David Lee</td>
      <td>Headache</td>
      <td>
        <a href="#" class="btn btn-secondary btn-sm">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
